<!doctype html>
<html>
<head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49330824-2', 'artplus.com');
  ga('send', 'pageview');

</script>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){
z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?2AVgrMIXzeMNqjUADHkX3OveHdf8ux3O';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/img/user/favicon.png">
    <title>ARTLOCK</title>
    <link href="/css/user/style.css" rel="stylesheet" type="text/css" title="login">
    <link href="/css/user/radio-style.css" rel="stylesheet" type="text/css">

    <!--	 <link href="css/d-board.css" rel="stylesheet" type="text/css">-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script type="text/javascript" src="/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/js/validate.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script src="/js/classie.js" type="text/javascript"></script>

</head>
<body class="bg-gradiant">

<div class="outmain">
    <div class="outinn signpage">
        <div class="container">
            <div class="frmContent">
                <div class="row">
                    <div class="col-sm-5">
                        <h1 class="logo"><img src="/img/user/artlock-logo.png" alt=""/></h1>
                    </div>
                    <div class="col-sm-7 contents" style="color: #AEBDCC">
                       <h2>TERMS OF SERVICE AGREEMENT</h2><br>
                        <p>This Alpha User Agreement (this “Agreement”) is made and entered into by and between ARTLOCK, INC,
						a Wyoming corporation (“ARTLOCK”), and the “USER” who has agreed by clicking the “I Accept” button. <br>
						<br>
						This Agreement describes the terms and conditions under which User may access and use certain features, 
						technologies and services related to and including the website at http://alpha.artplus.com that are not 
						yet generally commercially available (the “Alpha Service”).<br>
					<br>
                        ARTLOCK and User are sometimes referred to collectively as the “Parties” and each individually as a “Party.”
						</p>
						<br>
						<p>1    DEFINITIONS<br>
						<br>
						“Alpha Materials” means the Alpha test site at apha.artpus.com and software, specifications or other 
						technical documentation related to a specific Alpha Service that may be provided to User by ARTLOCK.<br>
                        <br>
                        “Alpha Use” means the testing and evaluation of a specific Alpha Service by User and certain other ARTLOCK
						advisory users or business partners.<br>  
						<br>
						“Alpha Use Information” means all information relating to User’s use, testing or evaluation of an Alpha 
						Service or any related Alpha Materials, including all observations or information regarding the performance, 
						features and functionality of an Alpha Service or any related Alpha Materials and includes UGC.<br>
                        <br>
						“Feedback” means all feedback, suggestions, and ideas that User provides to ARTLOCK or its affiliates
						concerning improvements or enhancements to the Alpha Service or any related Alpha Materials.<br>
                        <br>
						“Confidential Information” means all information disclosed by ARTLOCK, its affiliates, or the agents of
						any of the foregoing to User, its affiliates, or the agents of any of the foregoing. Confidential 
						Information includes, without limitation <br>
						<br>
						(a) nonpublic information relating to ARTLOCK’ or its affiliates’ technology, Users, business plans,
						promotional and marketing activities, finances and other business affairs, <br>
						<br>
						(b) third-party information that ARTLOCK or its affiliates is obligated to keep confidential,<br>
						<br>
						(c) Alpha Materials, Alpha Use Information, Feedback, or any other information about or involving 
						(including the existence of) any of the Alpha Uses or Alpha Services, and <br>
						<br>
						(d) the nature, content and existence of this Agreement and any discussions or negotiations between 
						the Parties.  <br>
                        <br>
						“UGC” stands for “User Generated Content” and means any and all works of art in digital format, graphics, 
						text, and all content uploaded by User through the Alpha Service.  <br>
                        <br>
						“Policies” means all policies and guidelines related to any Alpha Service, Alpha Materials or other web 
						services offered by ARTLOCK or its affiliates and made available to User, including privacy policies,
						terms of use, acceptable use policies, and any additional terms and conditions for a specific Alpha Use.</p><br>
                        <br>
						<p>2    PARTICIPATION IN ALPHA USE<br>
						<br>
						ARTLOCK grants User a limited, non-exclusive, non- transferable, royalty-free, revocable license to do
						the following during the term of the applicable Alpha Use: (a) access and use the Alpha Service solely 
						for internal evaluation purposes; and (b) upload, transfer fictive ownership, copy, and use any related 
						Alpha Materials solely as necessary to access and use the Alpha Service in the manner permitted by this 
						Agreement and the Policies. After the conclusion of an Alpha Use, User will not have any further right 
						to use the applicable Alpha Service, and if ARTLOCK releases a generally available version of the Alpha
						Service, User’s use of the generally commercially available version will be subject to separate terms 
						and conditions. However, ARTLOCK does not guarantee that any Alpha Service will ever be made generally
						commercially available, or that any generally commercially available version will contain the same or 
						similar functionality as the version made available by ARTLOCK during the Alpha Use.</p><br>
                        <br>
                        <p>3    RESTRICTIONS AND LMITATIONS<br>
						<br>
						User will not allow access to any Alpha Service or Alpha Materials by any third party other than User’s 
						employees and contractors who (i) have a need to use or access the Alpha Service or Alpha Materials in 
						connection with User’s internal evaluation activities and (ii) have executed written non-disclosure 
						agreements obligating them to protect the confidentiality of the Alpha Service and Alpha Materials;  
						use any Alpha Service or Alpha Materials in violation of this Agreement and the Policies; violate any 
						usage limits for a Alpha Service that ARTLOCK may communicate to User; export or allow access to any
						Alpha Service or Alpha Materials in any manner contrary to the export regulations of the United States; 
						or  otherwise access or use any Alpha Service, or install, copy or use any Alpha Materials, in any manner 
						or for any purpose not expressly permitted by this Agreement or the Policies. <br> 
						<br>
                        ARTLOCK may modify the permitted use of or suspend User’s access to any Alpha Service at any time and for
						any reason. Alpha Services also may be unavailable or their performance may be negatively affected by 
						scheduled maintenance. No service levels or other uptime guarantees apply to the Alpha Services. <br>
                        <br>
						ARTLOCK will use reasonable efforts to notify User in advance of scheduled maintenance, but ARTLOCK is
						unable to provide advance notice of unscheduled or emergency maintenance.</p> <br>
                        <br>
						<p>4	ALPHA USE INFORMATION AND FEEDBACK <br>
						<br>
	                    It is expressly understood, acknowledged and agreed that in consideration of the rights granted in this 
						Agreement, the User shall, regardless of whether or not formally requested to do, provide to ARTLOCK
						reasonable suggestions, comments and Feedback and Alpha Use Information regarding the Alpha Services. 
                        User grants to ARTLOCK the worldwide, non-exclusive, perpetual, irrevocable, royalty free, fully paid
						up rights:<br>
                        <br>						
                        (A) to make, use, copy, modify, sell, distribute, sub-license, and create derivative works of, the 
						Feedback and Alpha Use Information as part of any ARTLOCK product, technology, service, specification or
						other documentation (individually and collectively, "ARTLOCK Services");<br>
                        <br>						
                        (B) to publicly perform or display, import, broadcast, transmit, distribute, license, offer to sell, and 
						sell, rent, lease or lend copies of the Feedback and Alpha Use Information and (and derivative works thereof) 
						as part of any ARTLOCK Services; <br>
						<br>
                        (C) solely with respect to User’s copyright and trade secret rights, to sub-license to third parties the 
						foregoing rights, including the right to sub-license to further third parties; and <br> 
                        <br>
						(D) User hereby assigns to ARTLOCK, User’s entire right, title and interest (including, without limitation,
						all patent rights, design rights, copyrights and trade secrets) in any modifications or improvements to the 
						Alpha Service which User may propose or make to the Alpha Service or which User and Company may jointly make 
						to the Alpha Service during the Alpha test period. Further, User agrees that the Feedback and Alpha Use 
						Information is not subject to any license terms that would purport to require ARTLOCK to comply with any
						additional obligations with respect to any ARTLOCK Services that incorporate any Feedback or Alpha Use
						Information.</p><br>
                        <br>
                        <p>5    TERM AND TERMINATION TERM<br>
						<br>
                        The term of each individual Alpha Use will be specified by ARTLOCK, but will automatically terminate upon
						the release of a generally commercially available version of the applicable Alpha Service. The term of this 
						Agreement will commence on the date and timestamp the User clicks on the “I agree” button.</p><br>
                        <br>
					    <p>6    TERMINATION<br>
                        <br>						
                        Either Party may terminate User’s participation in an individual Alpha Use, or this Agreement entirely, 
						at any time for any reason upon notice to the other Party. Upon termination of this Agreement: <br>
                        <br>
						(a) all rights and licenses granted to User in this Agreement will immediately terminate; <br>
                        <br>
						(b) User will immediately return or, if instructed by ARTLOCK, destroy all Alpha Materials or any other
						confidential or proprietary information of ARTLOCK or its affiliates related to any Alpha Service or this
						Agreement; and <br>
                        <br>
						(c) Sections 1, 2, 3, 5, 6, 7, 8, 9, 10 and 11 will survive.</p><br>
						<br>
                        <p>7	CONFIDENTIALITY & OWNERSHIP USE AND DISCLOSURE<br>
						<br>
                        User may not disclose any Confidential Information during the term of this Agreement or at any time during 
						the three (3) year period following the end of the Term. </p><br> 
                        <br>
                        </p>8    PUBLICITY<br>
                        <br>						
                        Neither Party will issue any press release or public statement regarding this Agreement or any Alpha Use, 
						Alpha Service or Alpha Materials unless the other Party has approved in writing the time, form and content of 
						the information to be disseminated to third parties or the public.</p> <br>
                        <br>
						<p>9	OWNERSHIP<br>
						<br>
                        User agrees that nothing contained in this Agreement shall be construed as granting any ownership rights to 
						any Confidential Information, or to any invention or any patent, copyright, trademark, or other intellectual 
						property right. User shall not make, have made, use or sell for any purpose any product or other item using, 
						incorporating or derived from any Confidential Information or the Alpha Services. <br>
						<br>
						The User will not modify, reverse engineer, decompile, create other works from, or disassemble any software 
						programs contained in the Confidential Information or the Alpha Services or Alpha Materials. <br> 
                        <br>
						DISCLAIMER OF WARRANTIES. THE ALPHA SERVICES AND ALPHA MATERIALS ARE NOT READY FOR GENERAL COMMERCIAL RELEASE 
						AND MAY CONTAIN BUGS, ERRORS, DEFECTS OR HARMFUL COMPONENTS NOR ARE THE SERVICES OPERATIONAL AND/OR MONITORED 
						BY DELOITTE, NATURAL LE COULTRE S.A., TELINDUS LUXEMBOURG S.A., THE LUXEMBOURG FREEPORT OR ANY OF THEIR AFFILIATES, 
						SUBSIDIARIES OR PARTNERS.<br>
						<br>
                        ACCORDINGLY, ARTLOCK IS PROVIDING THE ALPHA SERVICES AND ALPHA MATERIALS TO COMPANY “AS IS.” ARTLOCK MAKES NO
						WARRANTIES OF ANY KIND WITH RESPECT TO THE ALPHA SERVICES OR ALPHA MATERIALS, WHETHER EXPRESS, IMPLIED, STATUTORY 
						OR OTHERWISE, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR 
						NON-INFRINGEMENT. <br>
                        <br>						
                        NOTWITHSTANDING ANY PUBLISHED MATERIALS THAT STATE OTHERWISE, ARTLOCK DOES NOT WARRANT THAT THE ALPHA SERVICES OR
						ALPHA MATERIALS WILL BE ERROR-FREE OR THAT THEY WILL MEET ANY SPECIFIED SERVICE LEVEL, OR WILL OPERATE WITHOUT 
						INTERRUPTIONS OR DOWNTIME. </p> <br>  
                        <br>
                        <p>10    LIMITATION OF LIABILITY.<br>
                        <br>					
                        NEITHER ARTLOCK NOR ANY OF ITS AFFILIATES OR LICENSORS WILL BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR
						OTHER CONSEQUENTIAL DAMAGES ARISING FROM OR RELATED TO THIS AGREEMENT, WHETHER IN AN ACTION IN CONTRACT, TORT 
						(INCLUDING NEGLIGENCE) OR OTHERWISE, EVEN IF THE PARTY/USER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
						IN ANY CASE, THE AGGREGATE LIABILITY OF ARTLOCK AND ITS AFFILIATES AND LICENSORS ARISING FROM OR RELATED TO THIS
						AGREEMENT WILL NOT EXCEED THE AMOUNTS PAID (IF ANY) BY USER TO ARTLOCK UNDER THIS AGREEMENT.</p><br>
                        <br>						
                        11    MISCELLANEOUS<br>
						<br>
                        Except for those limited rights expressly granted in Section 2.1, ARTLOCK and its licensors retain all right, title
						and interest in and to the Alpha Services and the Alpha Materials, including all related intellectual property rights. 
						The parties are independent contractors with respect to each other, and nothing in this Agreement shall be construed 
						as creating an employer-employee relationship, a partnership, agency relationship or a joint venture between the parties.<br>
                        <br>						
                        This Agreement further controls the actions of all party representatives, officers, agents, employees and associated 
						individuals. The terms of this Agreement shall be binding on the parties, and all successors to the foregoing who 
						take their rights hereunder. <br>
                        <br>						
                        Neither party will assign, transfer or delegate its rights or obligations under this Agreement (in whole or in part) 
						without the other party’s prior written consent except that ARTLOCK may assign and delegate this Agreement pursuant
						to a transfer of all or substantially all of ARTLOCK’s business and assets, whether by merger, sale of assets, sale
						of stock, or otherwise. Any attempted assignment, transfer or delegation in violation of the foregoing shall be null 
						and void. All modifications to and waivers of any terms of this Agreement must be in a writing that is signed by the 
						parties hereto and expressly references this Agreement.<br> 
                        <br>
						This Agreement shall be governed by the laws of the State of Wyoming, without regard to Wyoming conflict of laws rules. 
						The exclusive venue and jurisdiction for any and all disputes, claims and controversies arising from or relating to this 
						Agreement shall be the state or federal courts located in Cheyenne, Wyoming, USA.<br>
                        <br>
						In the event that any provision of this Agreement conflicts with governing law or if any provision is held to be null, 
						void or otherwise ineffective or invalid by a court of competent jurisdiction, <br>
						<br>
						(a) such provision shall be deemed to be restated to reflect as nearly as possible the original intentions of the parties 
						in accordance with applicable law, and <br>
						<br>
						(b) the remaining terms, provisions, covenants and restrictions of this Agreement shall remain in full force and effect. 
						No waiver of any breach of any provision of this Agreement shall constitute a waiver of any prior, concurrent or subsequent 
						breach of the same or any other provisions hereof, and no waiver shall be effective unless made in writing and signed by 
						an authorized representative of the waiving party.<br> 
                        <br>
						This Agreement and all expressly referenced documents constitute the entire agreement between the parties with 
						respect to the subject matter hereof and supersedes all prior and contemporaneous agreements or communications, 
						including any reseller or similar agreements previously executed by the parties. All notices, consents and approvals 
						under this Agreement must be delivered in writing by email to the other party. </p><br> 
                        <br>
						<p>END</p>
						<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>