
<!-- Affiliates -->
<div class="affiliates-page change-div">
    <div class="hidden-title">Affiliates</div>
    <!-- <div class="hidden-title">PLAYLIST</div>-->
    <div class="filterNav">
        <div class="row">
            <div class="col-sm-12 filters">
                <select class="playlist-page-filter-select">
                    <option>ALL AFFILIATES</option>
                </select>
                <input class="uploadfile add-new-playlist-btn addlist" type="button" value="ADD AFFILIATES">
            </div>
        </div>
    </div>
    <!--Table -->
    <div class="tableRow">
        <div id="row">
            <div class="col-md-12">
                <label class="col-sm-4 purchase"><a href="#">ARTNET</a></label>
                <label class="col-sm-8"> <a href="#" class="view">VIEW</a> </label>
            </div>
        </div>
    </div>
    <div class="tableRow">
        <div id="row">
            <div class="col-md-12">
                <label class="col-sm-4 purchase"><a href="#">WE LIKE ART</a></label>
                <label class="col-sm-8"> <a href="#" class="view">VIEW</a> </label>
            </div>
        </div>
    </div>
    <div class="tableRow">
        <div id="row">
            <div class="col-md-12">
                <label class="col-sm-4 purchase"><a href="#">UNPAINTED ART FAIR</a></label>
                <label class="col-sm-8"> <a href="#" class="view">VIEW</a> <a href="#" class="rename-affilist">RENAME AFFILIATE LIST</a> </label>
            </div>
        </div>
    </div>
    <div class="tableRow">
        <div id="row">
            <div class="col-md-12">
                <label class="col-sm-4 purchase"><a href="#">BRUSSELS ART FAIR</a></label>
                <label class="col-sm-8"> <a href="#" class="view">VIEW</a> <a href="#" class="rename-affilist">RENAME AFFILIATE LIST</a> </label>
            </div>
        </div>
    </div>
    <div class="tableRow">
        <div id="row">
            <div class="col-md-12">
                <label class="col-sm-4 purchase"><a href="#">DEMO ARTHUR</a></label>
                <label class="col-sm-8"> <a href="#" class="view">VIEW</a> <a href="#" class="rename-affilist">RENAME AFFILIATE LIST</a> </label>
            </div>
        </div>
    </div>
    <!--Table -->
 </div>
<!-- Affiliates -->
<div class="fcoll"><a ng-href="{{learnMoreURL}}" class="learnmore">Learn more ></a></div>
