
<!-- AUDIT REPORTING 1 -->
<div class="audit-reporting1 change-div">
    <div class="hidden-title">AUDIT REPORTING</div>
    <div class="filterNav">
        <div class="row">
            <div class="col-sm-12 filters">
                <select>
                    <option value=".medias">ALL MEDIA</option>
                    <option value=".media1">1 MEDIA</option>
                    <option value=".media2">2 MEDIA</option>
                </select>
            </div>
        </div>
    </div>
    <div class="auditMain">
        <div class="row">
            <div class="audit-row-head">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-sm-10">
                    <label>EDITION</label>
                    <label>COPIES SOLD</label>
                    <label>COPIES RE-SOLD</label>
                    <label>LAST AUDIT</label>
                    <label>14 JANUARY 2014</label>
                </div>
            </div>
            <div class="audit-row">
                <div class="col-sm-2 auditThumb"> <img src="/img/user/audit-thumb1.png" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">5+2</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES SOLD</label>
                            <span class="copisold sblue">2</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES RE-SOLD</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="res-clear"></div>
                        <div class="auditTypeBox">
                            <label>LAST AUDIT</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>14 JANUARY 2014</label>
                            <a class="viewaudit inner-page-change" id="audit-reporting2" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="audit-row">
                <div class="col-sm-2 auditThumb"> <img src="/img/user/audit-thumb2.png" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">3+2</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES SOLD</label>
                            <span class="copisold sblue">2</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES RE-SOLD</label>
                            <span class="copisold sblue">0</span> </div>
                        <div class="auditTypeBox">
                            <label>LAST AUDIT</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>14 JANUARY 2014</label>
                            <a class="viewaudit inner-page-change" id="audit-reporting2" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="audit-row">
                <div class="col-sm-2 auditThumb"> <img src="/img/user/audit-thumb3.png" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">5+1</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES SOLD</label>
                            <span class="copisold sred">5</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES RE-SOLD</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>LAST AUDIT</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>14 JANUARY 2014</label>
                            <a class="viewaudit inner-page-change" id="audit-reporting2" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="audit-row">
                <div class="col-sm-2 auditThumb"> <img src="/img/user/audit-thumb1.png" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">5+2</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES SOLD</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES RE-SOLD</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>LAST AUDIT</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>14 JANUARY 2014</label>
                            <a class="viewaudit inner-page-change" id="audit-reporting2" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="audit-row">
                <div class="col-sm-2 auditThumb"> <img src="/img/user/audit-thumb2.png" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">3</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES SOLD</label>
                            <span class="copisold sblue">0</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES RE-SOLD</label>
                            <span class="copisold sblue">0</span> </div>
                        <div class="auditTypeBox">
                            <label>LAST AUDIT</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>14 JANUARY 2014</label>
                            <a class="viewaudit inner-page-change" id="audit-reporting2" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">

    </div>
</div>
<!-- AUDIT REPORTING 1 -->
<!-- AUDIT REPORTING 2 -->
<div class="audit-reporting2 change-div">
    <div class="transferMain">
        <div class="row">
            <div class="col-sm-4 transDtl-info">
                <div class="filterNav mrpons">
                    <div class="row">
                        <div class="col-sm-12 filters">
                            <input type="button" value="ALL WORKS" class="addWork sellFromBtn1">
                            <a href="#" class="down-pdf">DOWNLOAD AS PDF</a> </div>
                    </div>
                </div>
                <div class="usethumbs"> <img src="/img/user/collecton-thumb3.jpg" alt="" /> </div>
                <h3>Agnieszka Polska</h3>
                <h4>Medical Gymnastics, 2013<br />
                    DV PAL animation 8 min. loop</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim</p>
            </div>
            <div class="col-sm-8">
                <div class="transferTypes-Main">
                    <p class="performedInfo">Latest audit performed by Deloitte on 14 January 2014.</p>
                    <div class="clearfix"></div>
                    <div class="audit-rt-block mTB20">
                        <div class="col-md-4">
                            <label class="audit-report-nm">EDITION</label>
                        </div>
                        <div class="col-md-8 audit-report">
                            <div class="audit-report-act"><span class="audit-cloud">5+2</span></div>
                            <div class="audit-report-act"><span class="last-audit">&nbsp;</span></div>
                            <div class="audit-report-act"> <a class="viewaudit view-audit-report" href="#">VIEW</a> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="audit-rt-block mTB20">
                        <div class="col-md-4">
                            <label class="audit-report-nm">COPIES SOLD</label>
                        </div>
                        <div class="col-md-8 audit-report">
                            <div class="audit-report-act"><span class="copisold sblue">2</span></div>
                            <div class="audit-report-act"><span class="last-audit">&nbsp;</span></div>
                            <div class="audit-report-act"> <a class="viewaudit view-audit-report" href="#">VIEW</a> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="audit-rt-block mTB20">
                        <div class="col-md-4">
                            <label class="audit-report-nm">COPIES RE-SOLD</label>
                        </div>
                        <div class="col-md-8 audit-report">
                            <div class="audit-report-act"><span class="copisold sblue">0</span></div>
                            <div class="audit-report-act"><span class="last-audit">&nbsp;</span></div>
                            <div class="audit-report-act"> <a class="viewaudit view-audit-report" href="#">VIEW</a> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="audit-rt-block mTB20">
                        <div class="col-md-4">
                            <label class="audit-report-nm">M-DISKS IN LFP</label>
                        </div>
                        <div class="col-md-8 audit-report">
                            <div class="audit-report-act"><span class="copisold sblue">2</span></div>
                            <div class="audit-report-act"><span class="last-audit">&nbsp;</span></div>
                            <div class="audit-report-act"> <a class="viewaudit view-audit-report" href="#">VIEW</a> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="audit-rt-block mTB20">
                        <div class="col-md-4">
                            <label class="audit-report-nm">ARTRENT COPIES</label>
                        </div>
                        <div class="col-md-8 audit-report">
                            <div class="audit-report-act"><span class="copisold sblue">1</span></div>
                            <div class="audit-report-act"><span class="last-audit">&nbsp;</span></div>
                            <div class="audit-report-act"> <a class="viewaudit view-audit-report" href="#">VIEW</a> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="audit-rt-block mTB20">
                        <div class="col-md-4">
                            <label class="audit-report-nm">EXHIBITION COPIES</label>
                        </div>
                        <div class="col-md-8 audit-report">
                            <div class="audit-report-act"><span class="copisold sblue">1</span></div>
                            <div class="audit-report-act"><span class="last-audit">&nbsp;</span></div>
                            <div class="audit-report-act"> <a class="viewaudit view-audit-report" href="#">VIEW</a> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="audit-rt-block mTB20">
                        <div class="col-md-4">
                            <label class="audit-report-nm">FAIR ART TRADE COPIES</label>
                        </div>
                        <div class="col-md-8 audit-report">
                            <div class="audit-report-act"><span class="copisold sblue">2</span></div>
                            <div class="audit-report-act"><span class="last-audit">&nbsp;</span></div>
                            <div class="audit-report-act"> <a class="viewaudit view-audit-report" href="#">VIEW</a> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AUDIT REPORTING 2 -->
<div class="fcoll"><a ng-href="{{learnMoreURL}}" class="learnmore">Learn more ></a></div>
