
<!-- Documents -->
<div class="documents-page change-div">
    <div class="hidden-title">Documents</div>
    <div class="filterNav">
        <div class="row">
            <div class="col-sm-6 filters"><a href="#" data-filter="*" style="display:none;" class="selected">All</a>
                <select >
                    <option value=".medias">ALL MEDIA</option>
                    <option value=".media1">1 MEDIA</option>
                    <option value=".media2">2 MEDIA</option>
                </select>
            </div>
            <div class="col-sm-6 types">&nbsp;</div>
        </div>
    </div>
    <div class="collection-main">
        <ul id="GridCollection">
            <li class="mixCollection artists artist1"><a href="#"><img src="/img/user/collecton-thumb1.jpg" alt="" /></a>
                <div class="shadow">
                    <h2>Image Title </h2>
                    <div class="imgOpt"><a href="javascript:void(0)" class="edit manage-inventory inner-page-change">&nbsp;</a><a href="javascript:void(0)" class="zoom">&nbsp;</a></div>
                </div>
            </li>
            <li class="mixCollection medias media1"><a href="#"><img src="/img/user/collecton-thumb2.jpg" alt="" /></a>
                <div class="shadow">
                    <h2>Image Title </h2>
                    <div class="imgOpt"><a href="javascript:void(0)" class="edit manage-inventory inner-page-change">&nbsp;</a><a href="javascript:void(0)" class="zoom">&nbsp;</a></div>
                </div>
            </li>
            <li class="mixCollection groups group1"><a href="#"><img src="/img/user/collecton-thumb3.jpg" alt="" /></a>
                <div class="shadow">
                    <h2>Image Title </h2>
                    <div class="imgOpt"><a href="javascript:void(0)" class="edit manage-inventory inner-page-change">&nbsp;</a><a href="javascript:void(0)" class="zoom">&nbsp;</a></div>
                </div>
            </li>
            <li class="mixCollection artists artist2"><a href="#"><img src="/img/user/collecton-thumb1.jpg" alt="" /></a>
                <div class="shadow">
                    <h2>Image Title </h2>
                    <div class="imgOpt"><a href="javascript:void(0)" class="edit manage-inventory inner-page-change">&nbsp;</a><a href="javascript:void(0)" class="zoom">&nbsp;</a></div>
                </div>
            </li>
            <li class="mixCollection medias media1"><a href="#"><img src="/img/user/collecton-thumb2.jpg" alt="" /></a>
                <div class="shadow">
                    <h2>Image Title </h2>
                    <div class="imgOpt"><a href="javascript:void(0)" class="edit manage-inventory inner-page-change">&nbsp;</a><a href="javascript:void(0)" class="zoom">&nbsp;</a></div>
                </div>
            </li>
            <li class="mixCollection groups group2"><a href="#"><img src="/img/user/collecton-thumb3.jpg" alt="" /></a>
                <div class="shadow">
                    <h2>Image Title </h2>
                    <div class="imgOpt"><a href="javascript:void(0)" class="edit manage-inventory inner-page-change">&nbsp;</a><a href="javascript:void(0)" class="zoom">&nbsp;</a></div>
                </div>
            </li>
            <li class="mixCollection medias media2"><a href="#"><img src="/img/user/collecton-thumb2.jpg" alt="" /></a>
                <div class="shadow">
                    <h2>Image Title </h2>
                    <div class="imgOpt"><a href="javascript:void(0)" class="edit manage-inventory inner-page-change">&nbsp;</a><a href="javascript:void(0)" class="zoom">&nbsp;</a></div>
                </div>
            </li>
            <li class="mixCollection groups group2"><a href="#"><img src="/img/user/collecton-thumb3.jpg" alt="" /></a>
                <div class="shadow">
                    <h2>Image Title </h2>
                    <div class="imgOpt"><a href="javascript:void(0)" class="edit manage-inventory inner-page-change">&nbsp;</a><a href="javascript:void(0)" class="zoom">&nbsp;</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Documents -->
<div class="fcoll"><a ng-href="{{learnMoreURL}}" class="learnmore">Learn more ></a></div>
