<!-- Inventory -->
<div class="collection-page change-div">
<div class="hidden-title">Inventory</div>
<div class="filterNav">
    <div class="row">
        <div class="col-sm-2 filters">
            <select data-ng-model="mediaObject"
                    ng-options="media.value as media.category for media in mediaCategory"
                    data-ng-change="changeCategory(mediaObject)">
            </select>
        </div>
        <div data-ng-show="setTimeout" class="col-sm-10 filters" style="text-align: center">
            <h4 style="color: #787878;"><span>Please wait for the work to load. </span></h4>
        </div>
    </div>
</div>
<div class="auditMain">
    <div class="row">
        <div class="audit-row-head" data-ng-show=" userRoleArtist == 'artist'">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-sm-10">
                <label>EDITION</label>
                <label>AVAILABLE</label>
                <label>SOLD</label>
                <label>&nbsp;</label>
            </div>
        </div>
        <div class="audit-row-head" data-ng-show="userRoleCollector == 'collector'">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-sm-10">
                <label>EDITION</label>
                <label>STREAM</label>
                <label>ON M-DISK</label>
                <label>&nbsp;</label>
            </div>
        </div>
        <div class="audit-row media1" data-ng-show="works.length<1 &&  userRoleArtist == 'artist'"
             style="text-align:center"><br/><br/><br/><br/><br/>
            <h4 style=" color:#787878;"> You currently do not have a works in your inventory. Add a work by uploading
                a work in Add a Work section. </h4></div>
        <div class="audit-row media1" data-ng-show="works.length<1 && userRoleCollector == 'collector'"
             style="text-align: center;"><br/><br/><br/><br/><br/>
            <h4 style=" color:#787878;"> You currently do not have a works in your inventory. Add a work by entering your Transfer Key in Add a Work. </h4></div>
        <div class="audit-row media1" data-ng-repeat="work in works">


            <div data-ng-if="!artist">
                <div class="col-sm-2 auditThumb">
                    <img ng-src="/api/media/thumbnail/{{work.workId || work._id}}" alt=""/>
                </div>
                
                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-10"
                     data-ng-show="flagDiv==workId && showPlaylistCRUD">
                    <div class="audit-rt-block mTB20 audit-rt" ng-show='myPlaylists.length == 0'>
                        <div class="col-sm-4">
                            <label class="audit-report-nm text">You don't have any playlist yet. Click on Playlist
                                in the menu right.</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="audit-rt-block mTB20 audit-rt" ng-repeat="playlist in myPlaylists">
                        <div class="col-sm-4">
                            <label class="audit-report-nm text">{{playlist.title}}</label>
                        </div>
                        <div class="col-sm-4 inventory-act">
                            <div class="audit-report-act"><span
                                    class="copisold sblue">{{playlist.works.length || 0}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4 inventory-act">
                            <div class="audit-report-act"><a class="viewaudit view-audit-report"
                                                             href="javascript:void(0)"
                                                             ng-click="addWorkToPlaylist(playlist)"
                                                             ng-hide="isPresentInPlayList(playlist.works)">ADD TO
                                PLAYLIST</a>
                                <a class="viewaudit view-audit-report delete-playlist media-viewer delet-from-playlist"
                                   href="javascript:void(0)" ng-show="isPresentInPlayList(playlist.works)"
                                   ng-click="removeWorkFromPlaylist(playlist)">DELETE FROM PLAYLIST</a></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>


            <div data-ng-if="artist">
                <div class="col-sm-2 auditThumb"><img ng-src="/api/media/thumbnail/{{work._id}}" alt=""/></div>
                <div class="col-sm-10">
                    <div class="audit-rt-block {{(showPlaylistCRUD && $index==currentIndex)&& 'active' || ' '}}">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">{{ work.edition || 0 }}+{{(work.copyForArtRent + work.copyForExhibition) || '0'}}</span>
                        </div>
                        <div class="auditTypeBox">
                            <label>AVAILABLE</label>
                            <span
                        ng-class="{'copisold sblue':work.counts.copiesAvailable > 0,'copisold sred':work.counts.copiesAvailable <= 0}">{{ work.counts.copiesAvailable || '0' }}</span>
                        </div>
                        <div class="auditTypeBox">
                            <label>SOLD</label>
                            <span class="copisold sblue">{{ work.counts.copiesSoldInTotal || '0' }}</span></div>
                        <div class="auditTypeBox">
                            <label>&nbsp;</label>
                            <a class="viewaudit" ng-hide="!work.edition" href="#/viewInfo/{{work._id}}">DETAILS</a>
                            <a class="viewaudit manage-inventory inner-page-change saleinfo"
                               ng-hide="work.edition>0" href="#/salesInfo/{{work._id}}">ENTER SALES
                                INFO</a>
                        </div>
                        <div class="auditTypeBox">
                            <label>&nbsp;</label>
                            <a class="viewaudit view-audit-report show-next-panel" data-label="UPDATE"
                               data-ng-model="workId" data-ng-init="workId=work._id"
                               data-ng-click="changeFlag(workId)"
                               href="javascript:void(0)" ng-click="openPlaylistCRUD(workId)"
                               ng-hide="(flagDiv==workId) && showPlaylistCRUD">PLAYLIST</a>
                            <a class="viewaudit view-audit-report show-next-panel" data-label="UPDATE"
                               href="javascript:void(0)"
                               ng-click="closePlaylistCRUD(workId)"
                               ng-show="(flagDiv==workId) && showPlaylistCRUD">DONE</a>

                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>
                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-10"
                     data-ng-show="flagDiv==workId && showPlaylistCRUD">
                    <div class="audit-rt-block mTB20 audit-rt" ng-show='myPlaylists.length == 0'>
                        <div class="col-sm-4">
                            <label class="audit-report-nm text">You don't have any playlist yet. Click on Playlist
                                in the menu.</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="audit-rt-block mTB20 audit-rt" ng-repeat="playlist in myPlaylists">
                        <div class="col-sm-4">
                            <label class="audit-report-nm text">{{playlist.title}}</label>
                        </div>
                        <div class="col-sm-4 inventory-act">
                            <div class="audit-report-act"><span
                                    class="copisold sblue">{{playlist.works.length || 0}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4 inventory-act">
                            <div class="audit-report-act"><a class="viewaudit view-audit-report"
                                                             href="javascript:void(0)"
                                                             ng-click="addWorkToPlaylist(playlist)"
                                                             ng-hide="isPresentInPlayList(playlist.works)">ADD TO
                                PLAYLIST</a>
                                <a class="viewaudit view-audit-report delete-playlist media-viewer delet-from-playlist"
                                   href="javascript:void(0)" ng-show="isPresentInPlayList(playlist.works)"
                                   ng-click="removeWorkFromPlaylist(playlist)">DELETE FROM PLAYLIST</a></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>
    </div>
</div>
<div class="clearfix text-center" data-ng-show="count>25">
    <button ng-click='previousPage()' ng-disabled="offSet <= 0" class="paginationButton">Previous</button>
    <button ng-click='nextPage()' ng-disabled="(check >= count)" class="paginationButton">Next</button>
</div>
</div>


<!-- Inventory -->
<div class="fcoll"><a ng-href="{{learnMoreURL}}" class="learnmore">Learn more ></a></div>
