<!-- LFP Vault -->
<div class="lfp-vault-page change-div">
    <div class="hidden-title">LFP Vault</div>
    <div class="filterNav">
        <div class="row">
            <div class="col-sm-12 filters">
                <select>
                    <option value="">ALL MEDIA</option>
                    <option value=".media1">1 MEDIA</option>
                    <option value=".media2">2 MEDIA</option>
                </select>
            </div>
        </div>
    </div>
    <div class="auditMain">
        <div class="row">
            <div class="audit-row-head lft-heads">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-sm-10">
                    <label>EDITION</label>
                    <label>COPIES AVAILABLE<br/>
                        FOR SALE</label>
                    <label>AVAILABLE IN<br/>
                        LFP</label>
                    <label>COPIES AVAILABLE<br/>
                        IN VAULT</label>
                    <label>COPIES IN VAULT<br/>
                        FROM CLIENTS</label>
                </div>
            </div>
            <div class="audit-row media1">
                <div class="col-sm-2 auditThumb"> <img src="/api/media/thumbnail/{{currentWork._id}}" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block lfp-blocks-main">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">5+2</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                FOR SALE</label>
                            <span class="copisold sblue">2</span> </div>
                        <div class="auditTypeBox">
                            <label>AVAILABLE IN<br/>
                                LFP</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                IN VAULT</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES IN VAULT<br/>
                                FROM CLIENTS</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>&nbsp;</label>
                            <a class="manage-inventory viewaudit inner-page-change" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="audit-row media1">
                <div class="col-sm-2 auditThumb"> <img src="images/audit-thumb2.png" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block lfp-blocks-main">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">3+2</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                FOR SALE</label>
                            <span class="copisold sblue">2</span> </div>
                        <div class="auditTypeBox">
                            <label>AVAILABLE IN<br/>
                                LFP</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                IN VAULT</label>
                            <span class="copisold sblue">0</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES IN VAULT<br/>
                                FROM CLIENTS</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>&nbsp;</label>
                            <a class="manage-inventory viewaudit inner-page-change" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="audit-row media2">
                <div class="col-sm-2 auditThumb"> <img src="images/audit-thumb3.png" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block lfp-blocks-main">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">5+1</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                FOR SALE</label>
                            <span class="copisold sred">5</span> </div>
                        <div class="auditTypeBox">
                            <label>AVAILABLE IN<br/>
                                LFP</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                IN VAULT</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES IN VAULT<br/>
                                FROM CLIENTS</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>&nbsp;</label>
                            <a class="manage-inventory viewaudit inner-page-change" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="audit-row media1">
                <div class="col-sm-2 auditThumb"> <img src="images/audit-thumb1.png" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block lfp-blocks-main">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">5+2</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                FOR SALE</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>AVAILABLE IN<br/>
                                LFP</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                IN VAULT</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES IN VAULT<br/>
                                FROM CLIENTS</label>
                            <span class="copisold sblue">1</span> </div>
                        <div class="auditTypeBox">
                            <label>&nbsp;</label>
                            <a class="manage-inventory viewaudit inner-page-change" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="audit-row media2">
                <div class="col-sm-2 auditThumb"> <img src="images/audit-thumb2.png" alt="" /> </div>
                <div class="col-sm-10">
                    <div class="audit-rt-block lfp-blocks-main">
                        <div class="auditTypeBox">
                            <label>EDITION</label>
                            <span class="audit-cloud">3</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                FOR SALE</label>
                            <span class="copisold sblue">0</span> </div>
                        <div class="auditTypeBox">
                            <label>AVAILABLE IN<br/>
                                LFP</label>
                            <span class="last-audit">&nbsp;</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES AVAILABLE<br/>
                                IN VAULT</label>
                            <span class="copisold sblue">0</span> </div>
                        <div class="auditTypeBox">
                            <label>COPIES IN VAULT<br/>
                                FROM CLIENTS</label>
                            <span class="copisold sblue">0</span> </div>
                        <div class="auditTypeBox">
                            <label>&nbsp;</label>
                            <a class="manage-inventory viewaudit inner-page-change" href="#">VIEW</a> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- LFP Vault -->
<div class="fcoll"><a ng-href="{{learnMoreURL}}" class="learnmore">Learn more ></a></div>