
<!-- RESET 01 -->
<div class="reset_01-page change-div">
    <div class="hidden-title">Reset Screen 1</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="profile-box">
                <div class="profile-box-main dashed-none">
                    <div class="account">Get back into your account<br>
                        We can help you reset your password, security info or private key. First enter your ARTLOCK login and the
                        characters shown.</div>
                    <div class="margin-top">&nbsp;</div>
                    <div class="account"> ARTLOCK login<br>
                        <input name="" type="text">
                    </div>
                    <div class="margin-top">&nbsp;</div>
                    <div class="account"> Enter the characters you see<br>
                        <p><img src="/img/user/captcha.jpg" alt=""/></p>
                        <input name="" type="text">
                    </div>
                    <div class="next-reset">
                        <div class="next-box">
                            <input name="" value="Next" id="reset_02-page" class="addWork reset-next-to-screen-02 inner-page-change" type="button">
                        </div>
                        <div class="reset">
                            <input name="" value="reset" type="button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- RESET 01 -->
<!-- RESET 02 -->
<div class="reset_02-page change-div">
    <div class="row">
        <div class="col-sm-12">
            <div class="profile-box">
                <div class="profile-box-main dashed-none">
                    <div class="account"><span>We need to verify your identity</span><br>
                        How would you like to get your security code?
                        <div class="margin-top">&nbsp;</div>
                    </div>
                    <div class="radio-box">
                        <input name="verify_by" class="css-checkbox" type="radio" value="" id="verify_by_email">
                        <label class="css-label" for="verify_by_email">Email   dd*****@gmail.com</label>
                    </div>
                    <div class="radio-box">
                        <input name="verify_by" class="css-checkbox" type="radio" value="" id="verify_by_text">
                        <label class="css-label" for="verify_by_text">Text   *******83</label>
                    </div>
                    <div class="radio-box">
                        <input name="verify_by" class="css-checkbox" type="radio" value="" id="verify_by_call">
                        <label class="css-label" for="verify_by_call">Call   *******83</label>
                    </div>
                    <div class="next-reset">
                        <div class="next-box">
                            <input name="" value="Next" class="addWork" type="button">
                        </div>
                        <div class="reset">
                            <input name="" value="cancel" type="button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- RESET 02 -->
