
<!-- Trace -->
<div class="trace-page change-div">
    <div class="hidden-title">Trace</div>
    <div class="filterNav">
        <div class="row">
            <div class="col-sm-6 filters"><a href="#" data-filter="*" style="display:none;" class="selected">All</a>
                <select>
                    <option value=".medias">ALL MEDIA</option>
                    <option value=".media1">1 MEDIA</option>
                    <option value=".media2">2 MEDIA</option>
                </select>
            </div>
            <div class="col-sm-6 types">&nbsp;
                <!--<a href="#">MOVING</a><a href="#">STILL</a><a href="#">SOUND</a><a href="#">3D</a>-->
            </div>
        </div>
    </div>
    <div class="collection-main">
        <ul id="GridCollection">
            <li class="mixCollection artists artist1"><a href="#"><img src="/img/user/collecton-thumb1.jpg" alt="" /></a>
                <div class="shadow">
                    <div class="imgOpt"><a href="javascript:void(0)" class="trace trace-page2 inner-page-change">TRACE</a></div>
                </div>
            </li>
            <li class="mixCollection medias media1"><a href="#"><img src="/img/user/collecton-thumb2.jpg" alt="" /></a>
                <div class="shadow">
                    <div class="imgOpt"><a href="javascript:void(0)" class="trace trace-page2 inner-page-change">TRACE</a></div>
                </div>
            </li>
            <li class="mixCollection groups group1"><a href="#"><img src="/img/user/collecton-thumb3.jpg" alt="" /></a>
                <div class="shadow">
                    <div class="imgOpt"><a href="javascript:void(0)" class="trace trace-page2 inner-page-change">TRACE</a></div>
                </div>
            </li>
            <li class="mixCollection artists artist2"><a href="#"><img src="/img/user/collecton-thumb1.jpg" alt="" /></a>
                <div class="shadow">
                    <div class="imgOpt"><a href="javascript:void(0)" class="trace trace-page2 inner-page-change">TRACE</a></div>
                </div>
            </li>
            <li class="mixCollection medias media1"><a href="#"><img src="/img/user/collecton-thumb2.jpg" alt="" /></a>
                <div class="shadow">
                    <div class="imgOpt"><a href="javascript:void(0)" class="trace trace-page2 inner-page-change">TRACE</a></div>
                </div>
            </li>
            <li class="mixCollection groups group2"><a href="#"><img src="/img/user/collecton-thumb3.jpg" alt="" /></a>
                <div class="shadow">
                    <div class="imgOpt"><a href="javascript:void(0)" class="trace trace-page2 inner-page-change">TRACE</a></div>
                </div>
            </li>
            <li class="mixCollection medias media2"><a href="#"><img src="/img/user/collecton-thumb2.jpg" alt="" /></a>
                <div class="shadow">
                    <div class="imgOpt"><a href="javascript:void(0)" class="trace trace-page2 inner-page-change">TRACE</a></div>
                </div>
            </li>
            <li class="mixCollection groups group2"><a href="#"><img src="/img/user/collecton-thumb3.jpg" alt="" /></a>
                <div class="shadow">
                    <div class="imgOpt"><a href="javascript:void(0)" class="trace trace-page2 inner-page-change">TRACE</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Trace -->

<!-- TRACE 2 -->
<div class="trace-page2 change-div">
    <div class="transferMain">
        <div class="row">
            <div class="col-sm-4 transDtl-info">
                <div class="filterNav mrpons">
                    <div class="row">
                        <div class="col-sm-12 filters">
                            <input type="button" value="ALL WORKS" class="addWork sellFromBtn1">
                            <a href="#" class="down-pdf">DOWNLOAD AS PDF</a> </div>
                    </div>
                </div>
                <div class="usethumbs"> <img src="/img/user/collecton-thumb3.jpg" alt="" /> </div>
                <h3>Agnieszka Polska</h3>
                <h4>Medical Gymnastics, 2013<br />
                    DV PAL animation 8 min. loop</h4>
            </div>
            <div class="col-sm-8">
                <div class="audit-row-head trace-row-head">
                    <div class="row">
                        <label class="lbl_edition">EDITION</label>
                        <label class="lbl_copies_sold redline">COPIES SOLD</label>
                        <label class="lbl_copies_resold">COPIES RE-SOLD</label>
                        <label class="lbl_lfp">LFP</label>
                        <label class="lbl_artrent">ARTRENT</label>
                        <label class="lbl_exhibition">EXHIBITION</label>
                    </div>
                </div>
                <div class="audit-rt-block trace-rt-block mBot40">
                    <div class="auditTypeBox">
                        <label class="lbl_edition">EDITION</label>
                        <a href="#" data-filter="lbl_edition"><span class="audit-cloud green-cloud">5+2</span></a> </div>
                    <div class="auditTypeBox">
                        <label class="lbl_copies_sold redline">COPIES SOLD</label>
                        <a href="#" data-filter="lbl_copies_sold"><span class="copisold sgreen">2</span></a> </div>
                    <div class="auditTypeBox">
                        <label class="lbl_copies_resold">COPIES RE-SOLD</label>
                        <a href="#" data-filter="lbl_copies_resold"><span class="copisold sgreen">1</span></a> </div>
                    <div class="res-clear"></div>
                    <div class="auditTypeBox">
                        <label class="lbl_lfp">LFP</label>
                        <a href="#" data-filter="lbl_lfp"><span class="lfpGreen">1</span></a> </div>
                    <div class="auditTypeBox">
                        <label class="lbl_artrent">ARTENT</label>
                        <a href="#" data-filter="lbl_artrent"><span class="copisold sgreen">1</span></a> </div>
                    <div class="auditTypeBox">
                        <label class="lbl_exhibition">EXHIBITION</label>
                        <a href="#" data-filter="lbl_exhibition"><span class="copisold sgreen">1</span></a> </div>
                </div>
                <div class="tableRow lbl_exhibition lbl_edition">
                    <div class="col-sm-12">
                        <div class="col-sm-10">
                            <p class="trace2-info">January 2, 2014 - Copy 1<br />
                                Marie Spraakman from Rotterdam, Netherlands - Fair Art Trade</p>
                        </div>
                        <div class="col-sm-2"> <a href="#" class="view">VIEW</a> </div>
                    </div>
                </div>
                <div class="tableRow lbl_exhibition">
                    <div class="col-sm-12">
                        <div class="col-sm-10">
                            <p class="trace2-info">January 2, 2014 - Copy 2<br />
                                Peter Pan from Los Angeles, USA - Fair Art Trade</p>
                        </div>
                        <div class="col-sm-2"> <a href="#" class="view">VIEW</a> </div>
                    </div>
                </div>
                <div class="tableRow lbl_artrent lbl_copies_sold lbl_edition">
                    <div class="col-sm-12">
                        <div class="col-sm-10">
                            <p class="trace2-info">January 2, 2014 - Copy 3<br />
                                John Doe from Delaware, USA - Fair Art Trade</p>
                        </div>
                        <div class="col-sm-2"> <a href="#" class="view">VIEW</a> </div>
                    </div>
                </div>
                <div class="tableRow lbl_lfp lbl_copies_resold">
                    <div class="col-sm-12">
                        <div class="col-sm-10">
                            <p class="trace2-info">January 6, 2014 - Copy 4<br />
                                Jane Doe from London, UK - Fair Art Trade</p>
                        </div>
                        <div class="col-sm-2"> <a href="#" class="view">VIEW</a> </div>
                    </div>
                </div>
                <div class="tableRow lbl_copies_resold">
                    <div class="col-sm-12">
                        <div class="col-sm-10">
                            <p class="trace2-info">January 6, 2014 - Copy 5<br />
                                Peter Falk, New York, USA  - Fair Art Trade</p>
                        </div>
                        <div class="col-sm-2"> <a href="#" class="view">VIEW</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TRACE 2 -->
<div class="fcoll"><a ng-href="{{learnMoreURL}}" class="learnmore">Learn more ></a></div>
