<html>
<head>
    <style type="text/css">
        a.logo {
            text-decoration: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<div style="overflow: auto">
    <div style="float: left">
        <a href="<%= homeURL %>"><img src="<%= logoUrl %>" height="50px" width="171px"/></a><br>

        <h3>Protecting Media Art™</h3>
    </div>
    <h3 style="float: right"><a href="support.artplus.com">ARTLOCK</a> | <a href="support.artlock.co">Support</a></h3>
</div>
<br>

<div>
    <p>
        Thank you <%= name %> for sharing information to ARTLOCK. We will get back to you as soon as possible.
        <br>
        Do you have questions about your ARTLOCK Account? Visit <a href="support.artplus.com">support.artplus.com</a>
    </p>
    <br>
    <br>
   © <%= (new Date()).getFullYear() %> ARTPLUS INC. ARTLOCK is a registered trademark of ARTPLUS Inc. <br>
   1710 First Avenue New York, NY 10128. Tel. 855-739-9555 <br>
   <br> 
   Privacy Policy  |  Terms & Conditions

</div>

</body>
</html>