<html>
<head></head>

<body>
<div  style="overflow: auto">
    <div style="float: left">
        <a href="<%= homeURL %>"><img src="<%=logoUrl%>" height="50px" width="171px"/></a><br>
        <h3>Protecting Media Art™</h3>
    </div>
    <h3 style="float: right">artlock.co    |    Support   </h3>
</div>
<br>
<div>
    <p>
        Click <a href="<%=link%>">here</a> to reset your password.<br>

		<br>
		
       <p>Do you have questions about your ARTLOCK Account? Visit support.artlock.co</p> <br>
        <br>

    </p>

   © <%= (new Date()).getFullYear() %> ARTPLUS INC. ARTLOCK is a registered trademark of ARTPLUS Inc. <br>
   1710 First Avenue New York, NY 10128. Tel. 855-739-9555 <br>
   <br> 
   Privacy Policy  |  Terms & Conditions

</div>

</body>
</html>